*,
::before,
::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Font */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

/* Global Variables */
:root{
  --font-size: 16px;
  --main-color: #282c35;
  --font-family-1: 'Josefin', sans-serif;
  --font-color: #000;
}

body{
  font-size: var(--font-size);
  font-family: var(--font-family-1);
  color: var(--font-color);
  line-height: 1.5;
  background-color: var(--main-color);
  
}

header {
  display: flex;
}

a {
  text-decoration: none;
  color: rgb(237, 237, 237);
}

h1, h2{
  margin: 20px 0 0 0;
  text-align: center;
}

h1{
  font-size: 2.5rem;
  color: #fff;
}

h1, .contact p, h2{
  color: #fff;
}

h2{
  margin-bottom: 10px;
}

ul{
  list-style-type: none;
}

#header-img{
  width: 60px;
  height: auto;
}

.audio-section img{
    margin-top: 30px;
    width: 90px;
    height: auto;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 2px 2px 12px 2px;
}

.feature-image{
  width: 80px;
  height: auto;
}

.feature-image:hover{
  transform: scale(1.2);
}

#background-image{
  min-width: 80%;
  width: 100%;
  border-radius: 30px;
  height: auto;
  padding-bottom: 30px;
}

#main-content{
  max-width: 700px;
  margin: 0 auto;
  padding-top: 100px;
}

.logo{
  width: 60vw;
}

#nav-bar{
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  font-weight: 700;
  color: #fff;
  background: rgb(11, 1, 49);
  z-index: 1;
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: orangered;
  display: block;
  margin: auto;
  transition: 0.5s;
}

nav ul li:hover::after{
  width: 100%;
}

.contact{
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 60px;
}

input{
  width: 70%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
}

#submit{
  width: 30%;
  border-radius: 30px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 16px;
  transition: 0.5s;
}

#submit:hover{
  color: #fff;
  background: #71BCE1;
}

input{
  background-color: #fff;
}

input:focus{
  background: hsl(0, 0%, 97%);
}

.flex{
  display: flex;
  text-align: center;
  background: transparent;
  margin-bottom: 35px;
  border-radius: 30px;
}

.feat p{
  color: #fff;
}

.flex img{
  margin: 30px;
}

.flex div p{
  padding: 0 50px 0 20px;
  text-align: justify;
}

#video{
  width: 100%;
  height: 70%;
  margin-bottom: 20px;
}

.pricing-menu{
  padding: 10px;
  margin: 0 auto;
  background-color: rgb(11, 1, 49);
}

.flex-pricing{
  display: flex;
  text-align: center;
}

.pricing-menu ul{
  margin-bottom: 20px;
}

.pricing-menu h2{

  padding: 5px;
}

.pricing-menu ul li{
  line-height: 1.5;
  color: #fff;
}

#pricing-submit{
  width: 80%;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background: #e5962e;
  transition: 0.5s;
}

#pricing-submit:hover{
  opacity: 0.7;
}


.price{
  font-weight: 700;
  font-size: 20px;
}

footer {
  margin-top: 30px;
  background-color: #000;
  padding: 20px;
}

footer ul {
  display: flex;
  justify-content: flex-end;
}


footer > span {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  margin-right: 15px;
  font-size: 16px;
  color: #444;
}

.audio{
  width: 100%;
  margin: 50px 0;
  z-index: -10;
}

.audio-section{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.audio-section i:hover{
    transform: scale(1.1);
}

.stars {
    background-color: white;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    animation-iteration-count: infinite;
  }

  .star-0 {
    margin-top: 2%;
    margin-left: 30%;
    animation-name: twinkle-0;
    animation-duration: 1s;
  }

  .star-1 {
    margin-left: 60%;
    animation-name: twinkle-1;
    animation-duration: 1s;
  }

  .star-2 {
    margin-top: 5%;
    margin-left: 25%;
    animation-name: twinkle-2;
    animation-duration: 1s;
  }

  .star-3 {
    margin-top: 0%;
    margin-left: 45%;
    animation-name: twinkle-3;
    animation-duration: 1s;
  }

  .star-4 {
    margin-top: -5%;
    margin-left: 25%;
    animation-name: twinkle-4;
    animation-duration: 1s;
  }

  .star-5 {
    margin-left: 75%;
    animation-name: twinkle-5;
    animation-duration: 1s;
  }

  .star-6 {
    margin-left: 45%;
    animation-name: twinkle-5;
    animation-duration: 2s;
  }
  @keyframes twinkle-0 {
    60% {
      transform: scale(0.5);
      opacity: 0.5;
    }
  }

@keyframes twinkle-1 {
    50% {
      transform: scale(0.2);
      opacity: 0.5;
    }
  }

  @keyframes twinkle-2 {
    20% {
      transform: scale(0.5);
      opacity: 0.5;
    }
  }

  @keyframes twinkle-3 {
    50% {
      transform: scale(0.5);
      opacity: 0.5;
    }
  }

  @keyframes twinkle-4 {
    40% {
      transform: scale(0.5);
      opacity: 0.5;
    }
  }

  @keyframes twinkle-5 {
    35% {
      transform: scale(0.5);
      opacity: 0.5;
    }
  }

  @keyframes twinkle-6 {
    15% {
      transform: scale(0.5);
      opacity: 0.5;
    }
  }

@media (max-width: 650px) {
  #nav-bar{
    width: 100%;
  }
  #nav-bar ul{
    display: block;
    justify-content: flex-end;
    text-align: right;
  }
  #main-content{
    margin-top: 30px;
  }
  #background-image{
    padding: 10px;
  }
  .flex div p{
    padding: 0 20px 0 20px;
    text-align: justify;
  }
  .flex div{
    padding: 5px
  }
  .audio{
    width: 90%;
  }
  .audio-section img{
    margin-top: 30px;
    width: 90px;
    height: auto;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 2px 2px 12px 2px;
  }
  footer{
    width: 100%;
  }
}

